<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lista de Clientes</ion-title>
  </ion-toolbar>

  <ion-toolbar color="light">
    <ion-searchbar
      placeholder="Buscar cliente..."
      (ionInput)="buscar($event)"
      animated
      color="primary">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none" class="lista-clientes">
    <ion-card *ngFor="let datos of clientes | filtro:textoBuscar:'nombre'" (click)="openEditClienteModal(datos.codigo)" class="card-cliente ion-margin">
      <ion-card-header class="cliente-card">
        <ion-card-title class="ion-text-capitalize">{{ datos.nombre }}</ion-card-title>
      </ion-card-header>

      <ion-card-content class="cliente-card">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="ion-text-start">
              <ion-icon name="card" class="icono"></ion-icon>
              <strong>Cuenta:</strong>
              <span>{{ datos.codigo }}</span>
            </ion-col>
            <ion-col size="6" class="ion-text-start">
              <ion-icon name="business" class="icono"></ion-icon>
              <strong>RUC:</strong>
              <span>{{ datos.ruc }}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

      <ion-icon name="person-circle" class="icono-superior"></ion-icon>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="openEditClienteModal(0)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="ion-text-center">
          <ion-button color="light" fill="solid" shape="round" (click)="prevPage()" [disabled]="page === 1">
            <ion-icon name="arrow-back" slot="start"></ion-icon>
            Anterior
          </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-button color="light" fill="solid" shape="round" (click)="nextPage()">
            Siguiente
            <ion-icon name="arrow-forward" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
