<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Información del Pedido -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" style="font-size: 1.2rem; font-weight: 600;">
        📋 Información de la Venta
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Factura</ion-label>
        <ion-input type="text" [(ngModel)]="venta.formatofactura"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha</ion-label>
        <ion-input type="date" [(ngModel)]="venta.fecha"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="stacked">Comprobante</ion-label>
        <ion-select [(ngModel)]="venta.comprobante" style="min-width: 150px;">
          <ion-select-option [value]="1">Contado</ion-select-option>
          <ion-select-option [value]="2">Crédito</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Cliente</ion-label>
        <ion-input [(ngModel)]="venta.cliente"></ion-input>
      </ion-item>

      <ion-button expand="block" color="tertiary" (click)="ValidarCliente()">🔍 Buscar Cliente</ion-button>

      <div class="ion-padding-top ion-text-center">
        <h2 style="font-size: 1rem; font-weight: 500;">{{ venta.clienteNombre }}</h2>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Productos del Pedido -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" style="font-size: 1.2rem; font-weight: 600;">
        📦 Productos en la Factura
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-list>
        <ion-item-sliding *ngFor="let detalle of detalles; let i = index">
          <ion-item>
            <ion-label class="ion-text-wrap">
              <h3>{{ detalle.descripcion}}</h3>
              <p>
                Código: <strong>{{ detalle.codprod}}</strong><br>
                Precio: <strong>{{ detalle.precio | number:'1.0-0' }}</strong> |
                Cantidad: <strong>{{ detalle.cantidad }}</strong> |
                Subtotal: <strong>{{ (detalle.precio * detalle.cantidad) | number:'1.0-0' }}</strong>
              </p>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="secondary" (click)="editarProducto(i)">Editar</ion-item-option>
            <ion-item-option color="danger" (click)="eliminarProducto(i)">Borrar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <!-- Agregar producto -->
      <ion-item>
        <ion-label position="stacked">Código de Producto</ion-label>
        <ion-input [(ngModel)]="codigoProductoSeleccionado"></ion-input>
      </ion-item>

      <ion-button expand="block" color="tertiary" (click)="ValidarProducto()">🔎 Buscar Producto</ion-button>

      <div class="ion-text-center ion-padding">
        <h2 style="font-size: 1rem;">{{ productoSeleccionado.descripcion }}</h2>
      </div>

      <ion-item>
        <ion-label position="stacked">Cantidad</ion-label>
        <ion-input [(ngModel)]="productoSeleccionado.cantidad" type="number:'1.0-0' "></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Precio</ion-label>
        <ion-input [(ngModel)]="productoSeleccionado.precio" type="number:'1.0-0' "></ion-input>
      </ion-item>

      <ion-button expand="block" color="success" (click)="agregarProducto()">➕ Agregar Producto</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Total -->
  <ion-grid class="ion-padding">
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <h2 style="font-weight: 600;">Total</h2>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <h2 style="font-weight: 700; color: #3880ff;">{{totalVenta() | number:'1.0-0' }}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="success" (click)="guardarVenta()">
          💾 Guardar
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="medium" (click)="dismiss()">
          ↩️ Regresar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>