<ion-content class="login-content" [fullscreen]="true">
  <!-- Logo -->
  <div class="logo-container">
    <img src="../../../assets/img/logo.jpg" class="logo" alt="Logo S&N APP" />
  </div>

  <!-- Formulario -->
  <div class="form-wrapper">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col size="12" size-sm="12" size-md="12" size-lg="8" size-xl="6">
          <ion-item lines="full" class="input-box">
            <ion-icon name="person" slot="start" color="primary"></ion-icon>
            <ion-input type="text" placeholder="Usuario" [(ngModel)]="loginacceso"></ion-input>
          </ion-item>

          <ion-item lines="full" class="input-box">
            <ion-icon name="eye-off" slot="start" color="primary" (click)="togglePasswordVisibility()"></ion-icon>
            <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
          </ion-item>

          <ion-button expand="block"  class="action-btn" (click)="Ingresar()">Ingresar</ion-button>
          
          <ion-button expand="block" color="medium" class="action-btn" (click)="dismiss()">Salir</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="footer">
  <div class="footer-text">
    <h1>© 2025 S&N APP</h1>
    <p>Todos los derechos reservados.</p>
  </div>
</ion-footer>