.custom-title {
    color:   #ebe711; /* Un color personalizado */
  }


.icon-clientes {
    color: #ff6347; /* Un color rojo, puedes poner cualquier código de color */
  }
  
  .icon-productos {
    color: #4682b4; /* Un color azul */
  }
  
  .icon-pedidos {
    color: #32cd32; /* Un color verde */
  }
  
  .icon-ventas {
    color: #ffa500; /* Un color naranja */
  }
  
  .icon-cobranzas {
    color: #800080; /* Un color morado */
  }