<ion-header>
  <div class="header-logo">
    <img src="../../../assets/img/logo.png" class="logo-full" />
  </div>

  <div class="divider-line"></div>


  <ion-toolbar class="title-gradient">
    <ion-title>Menú Principal</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none" class="menu-list">
    <ion-card *ngFor="let item of componentes" class="menu-card" (click)="navigateToPage(item.path)">
      <ion-item lines="none" class="menu-item">
        <ion-icon [name]="item.icon" slot="start" [style.color]="item.color" class="menu-icon"></ion-icon>
        <ion-label class="menu-label">{{ item.name }}</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer class="footer-dismiss">
  <ion-button expand="block" color="medium" (click)="dismiss()">Salir</ion-button>
</ion-footer>