ion-card-header {
  background-color: #f4f5f8;
  font-weight: bold;
}

.product-info-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.product-info-col {
  flex: 1;
  text-align: center;
}


.product-details h3 {
  margin: 0;
  font-size: 16px;
  color: #666;
}

ion-button {
  margin-top: 10px;
}

.cliente-nombre {
  font-size: 20px;
  color: #3880ff;
  text-align: center;
  margin-top: 10px;
}

ion-footer {
  background-color: #f4f5f8;
}

ion-select {
  margin-bottom: 10px;
}

ion-label {
  font-weight: bold;
}

.product-code {
  font-weight: bold;
  font-size: 1.2em;
}

.product-description {
  font-size: 1em;
}

ion-grid {
  padding: 0;
}

ion-col {
  padding: 0 10px;
}

ion-row {
  margin-bottom: 10px;
}


.total-row {
  display: flex;
  justify-content: space-between;
}

.total-label,
.total-value {
  display: flex;
  align-items: center;
}

.total-value {
  text-align: right;
}
