<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detalle de Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Pedido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" style="align-self: center;">
            <ion-label>Fecha</ion-label>
          </ion-col>
          <ion-col size="6" style="align-self: center;">
            <ion-input type="date" [(ngModel)]="pedido.fecha" name="fecha"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6" style="align-self: center;">
            <ion-label>Comprobante</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-select [(ngModel)]="pedido.comprobante" name="comprobante" [compareWith]="compareWithComprobante">
              <ion-select-option value="1">CONTADO</ion-select-option>
              <ion-select-option value="2">CRÉDITO</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3" style="align-self: center;">
            <ion-label>Cliente</ion-label>
          </ion-col>
          <ion-col size="4" style="align-self: center;">
            <ion-input [(ngModel)]="pedido.cliente" (ionBlur)="ValidarCliente()" class="align-right"></ion-input>
          </ion-col>
          <ion-col size="5" style="align-self: center;">
            <ion-button expand="full" color="primary" (click)="ValidarCliente()">Buscar</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <h1 class="cliente-nombre">{{pedido.clienteNombre}}</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalle de Productos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let detalle of detalles; let i = index">
          <ion-label class="ion-text-wrap">
            <h2>{{ detalle.codprod }}</h2>
            <p>{{ detalle.descripcion }}</p>
            <p>Precio: {{ detalle.precio | currency }}</p>
            <p>Costo: {{ detalle.costo | currency }}</p>
            <p>Impuesto: {{ detalle.impuesto | currency }}</p>
          </ion-label>
          <ion-button fill="outline" (click)="editarProducto(i)">Editar</ion-button>
          <ion-button color="danger" fill="outline" (click)="eliminarProducto(i)">Borrar</ion-button>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label>Código Producto</ion-label>
        <ion-select [(ngModel)]="codigoProductoSeleccionado" interface="popover" (ionChange)="seleccionarProducto()">
          <ion-select-option *ngFor="let producto of productos" [value]="producto.codprod">{{ producto.codprod
            }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Descripción</ion-label>
        <ion-input [(ngModel)]="productoSeleccionado.descripcion" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Costo</ion-label>
        <ion-input [(ngModel)]="productoSeleccionado.costo" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Precio</ion-label>
        <ion-input [(ngModel)]="productoSeleccionado.precio" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Impuesto</ion-label>
        <ion-input [(ngModel)]="productoSeleccionado.impuesto" readonly></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="agregarProducto()">Agregar Producto</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label>Total</ion-label>
    <ion-input [value]="totalPedido()" readonly></ion-input>
  </ion-item>

  <ion-footer class="ion-padding">
    <ion-button expand="full" (click)="guardarPedido()">Guardar Pedido</ion-button>
  </ion-footer>
</ion-content>